body {
  background-color: #8080801a;
}
h1 {
  background-image: url(/img1.webp);
  text-align: center;
  color: beige;
  font-size: 60px;
}

a {
  color: red;
  text-decoration: dashed;
  font-weight: bold;
  font-size: x-large;
  padding: 100px;
}

a:hover {
  color: blue;
  font-size: 80px;
}

.y {
  font-size: large;
  background-color: aqua;
  margin: 30px;
  text-align: center;
}

.b {
  color: green;
  font-size: 40px;
}

.c {
  font-size: 40px;
  background-color: beige;
}

iframe {
  border-radius: 10%;
  padding-left: 400px;
}

ul {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  border: solid red;
  width: 150px;
}

img {
  border-radius: 50%;
  border: solid 2px black;
}

section,
.z {
  color: blue;
  font-size: 40px;
}
